
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color:lightblue;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header img {
  margin-left: 10px;
}

footer {
  background-color: lightblue;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 5px;
  font-size: 0.9rem;
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
}

#vistaRequerimientos {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#formularioCompra {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#formularioCompra article {
  margin-bottom: 20px;
}

#formularioCompra div {
  margin-bottom: 15px;
}

#formularioCompra label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

#formularioCompra input,
#formularioCompra select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

#formularioCompra button {
  padding: 10px 20px;
  background-color: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
}

#formularioCompra button[type="reset"] {
  background-color: #ccc;
  margin-left: 10px;
}



aside {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

