* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: white;
}

main {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #c1ead7;
  border-radius: 10px;
  box-shadow: 0px 0px 10px silver;
  grid-template-rows: auto 1fr auto; /
}

header {
  background-color: lightblue;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header img {
  margin-left: 10px;
}

#filtros {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 20px; 
  grid-column: 1 / -1; 
}

#filtros select,
#filtros input,
#filtros button {
  padding: 10px;
  margin: 0 5px;
  font-size: 16px;
  border-radius: 5px;
}

#filtros input {
  flex-grow: 1;
  max-width: 300px;
}

#filtros select {
  max-width: 200px;
}

#filtros button {
  background-color: lightseagreen;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#vistaProductos {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 2;
  padding-right: 10px;
  overflow-y: auto;
}

#productosList {
  list-style-type: none;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px black;
  text-align: center;
}

#productosList h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#productosList p {
  margin: 5px 0;
}

#detalleProducto {
  grid-column: 3 / 4;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px black;
  max-width: 300px;
}

#detalleProducto h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

#detalleProducto img {
  display: block;
  margin: 0 auto 15px;
}

#detalleProducto p,
#detalleProducto label {
  margin: 8px 0;
  font-size: 0.9em;
}

button {
  background-color: lightseagreen;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

nav button {
  margin: 0 10px;
}

footer {
  background-color: lightblue;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 0.9em;
  margin-top: 20px;
  border-radius: 5px;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 150px;
  max-height: 150px;
}

#tarjeta-imagen img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
